.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.email {
  background: #fff;
  font-size: 13px;
  letter-spacing: 1.5px;
  width: 300px;
  height: 50px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  margin-top: 20px;
  width: 300px;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none !important;
  box-shadow: 0px 8px 18px 0px rgba(46, 61, 73, 0.15) !important;
  background: #02b3e4;
  color: #fff;
}

.button:hover {
  background: #029fcb;
}

.info {
  margin-top: 20px;
  color: #222;
  font-size: 15px;
  font-weight: bold;
}
